/*about.css*/

.content p {
    margin: 0px 0px 0px 0px;

    border: 1px;
    padding: 0px;
    float: left;
}
#mission{
  width:100%;
  margin: 0px auto 0px auto;
  background: #93F9FF;
  border: 1px solid;
  padding: 5pxS


}
h2{

margin-bottom: 0em;
margin-left: 0;
margin-right: 0;

}

#office{
  width: 23em;
  height: auto;
  float: left;

}
