/*Menu Items*/
ul {
    text-align: center;
    clear: both;
    list-style-type: none;
}
li {
    display: inline-block;
    margin: 0px 5% 0px 5%;
    padding: 10px 0px 10px 0px;
    background: #E0FFE9;
    border: 1px solid;
}

li a {
    padding: 10px;
}

li a:hover{
    background: #FF9598;

}

#liAbout {
    text-decoration: none;
}

/*Logo*/
#logo, #logo:visited, #logo:hover, #logo:active {
    display: inline-block;
    text-decoration: none;
    color: black;
}

/*Header of each page*/
.pageHeader {
  text-align: center;
  clear: both;
}

/*Drop down menu*/
#about {
    position: absolute;
    margin: 10px 0px;
    visibility: hidden;
    border: 2px solid;
    background: white;
}
#about a{
    display: block;
    postion: absolute;
    width: 110px;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
}